.ant-carousel .slick-slide {
    text-align: center;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3,
.ant-carousel .slick-slide h1,
.ant-carousel .slick-slide h2 {
    color: #fff;
}
